* {
    box-sizing: border-box;
    margin: 0;
}

.loading {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.loading_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33333;
    color: #151b26;
    margin-bottom: 20px;
    text-align: center;
    animation-name: flicker;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.progress_bar {
    position: relative;
    width: 300px;
    height: 12px;
    border-radius: 100px;
    background-color: #e5eaef;
    overflow: hidden;
}

.progress_bar_gauge {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 12px;
    border-radius: 100px;
    background-color: #13ce66;
    animation-name: loading_bar;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: ease-out;
}


@keyframes flicker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes loading_bar {
    0% {
        width: 0;
        opacity: 1;
    }

    90% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}