* {
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM-Plex";
    background-color: #000000;
}

/* Loading section */
.loading {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loading_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33333;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    animation-name: flicker;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.progress_bar {
    position: relative;
    width: 300px;
    height: 12px;
    border-radius: 100px;
    background-color: #e5eaef;
    overflow: hidden;
}

.progress_bar_gauge {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 12px;
    border-radius: 100px;
    background-color: #13ce66;
    animation-name: loading_bar;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: ease-out;
}


@keyframes flicker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes loading_bar {
    0% {
        width: 0;
        opacity: 1;
    }

    90% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

/* main page section */

.main{
    position: relative;
    background-color: #000;
}

.mainPage{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0  0 280px;
}

.mainPage_title{
    color: #fff;
    width: 90%;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px;
    margin: 10px 0 20px 20px;
    border-bottom: 1px solid #424224;
}

.mainPage_item{
    display: flex;
    flex-wrap: wrap;
}



/* nav section */

.nav{
    background-color: rgb(20, 21, 23);
    display: flex;
    align-items: center;
    margin-left: 240px;
    height: 70px;
}

.nav_profile{
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

/* sidebar section */

.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: rgb(27, 28, 29);
}

.sidebar_title, .sidebar_locker, .sidebar_setting{
    margin-left: 20px;
    background-color: rgb(27, 28, 29);
}

.main .sidebar a{
    color: rgba(255, 23, 68, 0.95);
    text-decoration: none;
    background-color: rgb(27, 28, 29);
    text-shadow: 2px 3px 3px rgb(196,0,29);
}

.sidebar_title{
    display: block;
    font-size: 30px;
    font-weight: 20px;
    margin: 20px 0 40px 20px;
}

.sidebar_title:hover{
    color: rgb( 255 , 23, 68);
}

.sidebar button{
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 100;
    border: none;
    color: rgba( 255 , 255 , 255 , 0.8);
    margin-bottom: 12px;
    padding-top: 3px;
    height: 24px;
    background-color: rgb(27, 28, 29);
}

.sidebar_setting :hover , .sidebar_locker :hover{
    color: #fff;
}

.sidebar .sidebar_setting button{
    background-color: rgb(27, 28, 29);
}

.sidebar button p{
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-size: 14px;
    background-color: rgb(27, 28, 29);
}

.sidebar .sidebar_locker strong{
    background-color: rgb(27, 28, 29);
    display: block;
    font-size: 12px;
    color: #6d6d6d;
    margin: 20px 0 15px 0;
}

.sidebar_icons{
    background-color: rgb(27, 28, 29);
}