* {
    box-sizing: border-box;
    margin: 0;
}
/* Loading section */
.loading {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.loading_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33333;
    color: #151b26;
    margin-bottom: 20px;
    text-align: center;
    animation-name: flicker;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.progress_bar {
    position: relative;
    width: 300px;
    height: 12px;
    border-radius: 100px;
    background-color: #e5eaef;
    overflow: hidden;
}

.progress_bar_gauge {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 12px;
    border-radius: 100px;
    background-color: #13ce66;
    animation-name: loading_bar;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: ease-out;
}


@keyframes flicker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes loading_bar {
    0% {
        width: 0;
        opacity: 1;
    }

    90% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

/* main page section */

.main{
    position: relative;
}

.mainPage{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}

/* nav section */

.nav{
    background-color: #424242;
    display: flex;
    align-items: center;
    margin-left: 200px;
    height: 80px;
}

.nav_profile{
    color: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

/* sidebar section */

.sidebar{
    position: fixed;
    display: flex;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #424242;
    border-right: 1px solid #6d6d6d;
}

.sidebar_title{
    display: block;
    color: #ff1744;
    font-size: 40px;
    font-weight: 20px;
    margin: 30px 0 0 50px;
    text-shadow:3px 3px 3px rgb(196,0,29);
}