body{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 15px 10px 0 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.movie{
    display: flex;
    width: 600px;
    margin-bottom:  10px;
    position: relative
}

.movie_img {
    display: block;
    height: 370px;
    width: 300px;
}

.movie_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 280px;
}

.movie_title{
    font-size: 20px;
}

.movie_list{
    display: flex;
    flex-direction: column;
    margin-left:  10px;
    list-style: none;
}
