*{
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM-Plex";
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #000000;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0,0,0,0);
}


.movie{
    display: flex;
    width: 300px;
    margin-bottom:  10px;
    position: relative;
    margin: 15px 10px 0 10px;
}

.movie_img {
    opacity: 0.8;
    display: block;
    height:400px;
    width: 300px;
    border-radius: 10px;
}
 
.movie_desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 370px;
    width:  300px;
    margin: 0 10px;
} 

.movie_title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 10px 0;
}

.movie_title :hover{
    color: #fff;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    opacity: 0.8;
}

.movie_title_link{
    text-decoration: none;
    color: #fff;
}

.movie_year{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.movie_text{
    color: #fff;
    display: inline-block;
    text-align: center;
    height: 200px;
    margin-bottom: 10px;
    padding: 0 5px;
    border-radius: 20px;
}


.movie_list{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.movie_list li{
    margin-left: 10px;
}

.movie_list li::after{
    content: "";
    margin: 0 10px;
}