@font-face {
    font-family: "IBM-Plex";         
    src: url("./fonts/IBM-ExtraLight.ttf");
  }
@font-face {
    font-family: "IBM-Plex";         
    src: url("./fonts/IBM-Light.ttf");
  }
@font-face {
    font-family: "IBM-Plex";         
    src: url("./fonts/IBM-medium.ttf");
  }
@font-face {
    font-family: "IBM-Plex";         
    src: url("./fonts/IBM-Regular.ttf");
  }